@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
    --color-base: #1f2020;
    --color-base-content: #FAFBFA;

    --color-input: #757575;
    --color-input-content: #ffffff;

    --color-primary: #116BEE;

    --color-secondary: #0B0DB0;

    --color-error: #f32e2e;
}


body {
    background-color: var(--color-base);
    color: var(--color-base-content);
    font-family: "Poppins", sans-serif;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: bold;
}

.color-error {
    color: var(--color-error);
}

.input {
    background-color: var(--color-input);
    color: var(--color-input-content);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.btn-small {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    padding: 0.5rem 2rem;
    font-weight: bold;

    cursor: pointer;
    transition: 200ms;
}

.btn-small:hover {
    padding: 0.5rem 2.5rem;
    background-color: var(--color-secondary);
}

.btn-big {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    padding: 1rem 3.5rem;
    font-weight: bold;

    cursor: pointer;
    transition: 200ms;
}

.btn-big:hover {
    padding: 1rem 4rem;
    background-color: var(--color-secondary);
}